# -*- coding: utf-8 -*-
# vim: ft=jinja2
###########################
## APACHE AIRFLOW CHANGEME
###########################
{% set airflow_version = '2.1.2' %}
{% set localhost       = salt['cmd.run']('hostname -s') or 'localhost' or 'ubuntu1804' %}
{% set webserversecret = '123456789101112131415' %}

{% set create_user_group = true %}            {# changeme: true=posix, false=ldap #}
{% set selinux           = false %}           {# changeme #}
{% set firewall          = false %}           {# changeme #}
{% set primaryhost       = localhost %}       {# changeme #}
{% set loadbalancer      = primaryhost %}     {# changeme #}
{% set primarydomain     = 'localdomain' %}   {# changeme #}
{% set secondaryhost     = 'controller02' %}  {# changeme #}

{% set domain = salt['cmd.run']('hostname -d').split('.')[0]|lower|replace('none','localdomain') %}
{% set domain = 'localdomain' if domain == '' else domain %}

##################
### DOMAIN LOOKUP
##################
{% set domains = ['localdomain', 'main', 'apples', 'oranges', 'applestest'] %}
{% set domains = domains + ['orangestest', 'applesdev', 'orangesdev', 'edge', 'fog'] %}

{# every member of "domains" list above must have corresponding defintion below, #}
{# to prevent 'TypeError: argument of type 'StrictUndefined' is not iterable' #}

{% set localdomain = {} %}
{% do localdomain.update({ 'fqdn':       '',
                           'auth_type':  'AUTH_DB',
                           'user':       'airflow',
                           'group':      'airflow',
                           'name':       'localdomain',
			   'queues':     [domain, localhost|string,],
                           'workers':    {localhost|string: '127.0.0.1',},
                           'ldapserver': '',
                           'database':   '',
                           'ldapfilter': '',
                           'ldapbase':   ''}) %}

{% set main = {} %}
{% do main.update({ 'fqdn':       'MAIN.NET',
                    'auth_type':  'AUTH_DB',
                    'user':       'airflowservice@MAIN.NET',
                    'group':      'groupairflow@MAIN.NET',
                    'name':       'main',
                    'queues':     ['main', 'main-controller01', 'main-controller02',],
                    'workers':    {'main-controller01': '10.0.1.1', 'main-controller02': '10.0.1.2'},
                    'ldapserver': 'controller-dc1.MAIN.NET',
                    'database':   'airflow:airflow@controller01/airflow',
                    'ldapfilter': '(&(objectClass=user)(sAMAccountName=*)(|(memberOf=CN=grpRole_dataeng,OU=ouEngineers,DC=MAIN,DC=NET)(memberOf=CN=grpRole_devops,OU=ouEngineers,DC=MAIN,DC=NET))',
                    'ldapbase':   'OU=ouEngineers,DC=MAIN,DC=NET'}) %}

{% set apples = {} %}
{% do apples.update({ 'fqdn':       'APPLES.NET',
                      'user':       'airflowservice@APPLES.NET',
                      'group':      'groupairflow@APPLES.NET',
                      'name':       'apples',
                      'queues':     ['apples', 'apples-worker01', 'apples-worker02',],
                      'workers':    {'apples-worker01': '10.0.2.1', 'apples-worker02': '10.0.2.2'},
                      'ldapserver': 'apples-dc1.apples.net',
                      'ldapfilter': '',
                      'database':   'airflow:airflow@controller01/airflow',
                      'ldapbase':   'OU=ouEngineers,DC=APPLES,DC=NET'}) %}

{% set oranges = {} %}
{% do oranges.update({ 'fqdn':       'ORANGES.NET',
                       'user':       'airflowservice@ORANGES.NET',
                       'group':      'groupairflow@ORANGES.NET',
                       'name':       'oranges',
                       'queues':     ['oranges', 'oranges-worker01', 'oranges-worker02',],
                       'workers':    {'oranges-worker01': '10.0.3.1', 'oranges-worker02': '10.0.3.2'},
                       'ldapserver': 'oranges-dc1.oranges.net',
                       'ldapfilter': '',
                       'database':   'airflow:airflow@controller01/airflow',
                       'ldapbase':   'OU=ouEngineers,DC=ORANGES,DC=NET'}) %}

{% set applestest = {} %}
{% do applestest.update({ 'fqdn':       'APPLESTEST.NET',
                          'user':       'airflowservice@APPLESTEST.NET',
                          'group':      'groupairflow@APPLESTEST.NET',
                          'name':       'applestest',
                          'queues':     ['applestest', 'applestest-worker01', 'applestest-worker02',],
                          'workers':    {'applestest-worker01': '10.0.4.1', 'applestest-worker02': '10.0.4.2'},
                          'ldapserver': 'apples-dc1.applestest.net',
                          'ldapfilter': '',
                          'database':   'airflow:airflow@controller01/airflow',
                          'ldapbase':   'OU=ouEngineers,DC=APPLESTEST,DC=NET'}) %}

{% set orangestest = {} %}
{% do orangestest.update({ 'fqdn':       'ORANGESTEST.NET',
                           'user':       'airflowservice@ORANGESTEST.NET',
                           'group':      'groupairflow@ORANGESTEST.NET',
                           'name':       'orangestest',
                           'queues':     ['orangestest', 'orangestest-worker01', 'orangestest-worker02',],
                           'workers':    {'orangestest-worker01': '10.0.5.1', 'orangestest-worker02': '10.0.5.2'},
                           'ldapserver': 'oranges-dc1.orangestest.net',
                           'ldapfilter': '',
                           'database':   'airflow:airflow@controller01/airflow',
                           'ldapbase':   'OU=ouEngineers,DC=ORANGESTEST,DC=NET'}) %}

{% set applesdev = {} %}
{% do applesdev.update({ 'fqdn':       'APPLESDEV.NET',
                         'user':       'airflowservice@APPLESDEV.NET',
                         'group':      'groupairflow@APPLESDEV.NET',
                         'name':       'applesdev',
                         'queues':     ['applesdev', 'applesdev-worker01', 'applesdev-worker02',],
                         'workers':    {'applesdev-worker01': '10.0.6.1', 'applesdev-worker02': '10.0.6.2'},
                         'ldapserver': 'apples-dc1.applesdev.net',
                         'ldapfilter': '',
                         'database':   'airflow:airflow@controller01/airflow',
                         'ldapbase':   'OU=ouEngineers,DC=APPLESDEV,DC=NET'}) %}

{% set orangesdev = {} %}
{% do orangesdev.update({ 'fqdn':       'ORANGESDEV.NET',
                          'user':       'airflowservice@ORANGESDEV.NET',
                          'group':      'groupairflow@ORANGESDEV.NET',
                          'name':       'orangesdev',
                          'queues':     ['orangesdev', 'orangesdev-worker01', 'orangesdev-worker02',],
                          'workers':    {'orangesdev-worker01': '10.0.7.1', 'orangesdev-worker02': '10.0.7.2'},
                          'ldapserver': 'oranges-dc1.orangesdev.net',
                          'ldapfilter': '',
                          'database':   'airflow:airflow@controller01/airflow',
                          'ldapbase':   'OU=ouEngineers,DC=ORANGESDEV,DC=NET'}) %}

{% set edge = {} %}
{% do edge.update({ 'fqdn':       'EDGE.NET',
                    'user':       'airflowservice@EDGE.NET',
                    'group':      'groupairflow@EDGE.NET',
                    'name':       'edge',
                    'queues':     ['edge', 'edge-worker01', 'edge-worker02',],
                    'workers':    {'edge-worker01': '10.0.8.1', 'edge-worker02': '10.0.8.2'},
                    'ldapserver': 'edge-dc1.edge.net',
                    'ldapfilter': '',
                    'database':   'airflow:airflow@controller01/airflow',
                    'ldapbase':   'OU=ouEngineers,DC=EDGE,DC=NET'}) %}

{% set fog = {} %}
{% do fog.update({  'fqdn':       'FOG.NET',
                    'user':       'airflowservice',
                    'group':      'groupairflow@FOG.NET',
                    'name':       'fog',
                    'queues':     ['fog', 'fog-worker01', 'fog-worker02',],
                    'workers':    {'fog-worker01': '10.0.9.1', 'fog-worker02': '10.0.9.2'},
                    'ldapserver': 'fog-dc1.fog.net',
                    'ldapfilter': '',
                    'database':   'airflow:airflow@controller01/airflow',
                    'ldapbase':   'OU=ouEngineers,DC=FOG,DC=NET'}) %}
